<div class='container'>
<p><strong>Icono simple: </strong> <span class='glyphicon glyphicon-phone'></span></p>
<p><strong>Bot贸n icono: </strong> <button type='button' class='btn'><span class='glyphicon glyphicon-camera'></span></button></p>
<p><strong>Icono a la izquierda de un bot贸n: <strong> <button type='button' class='btn'><span class='glyphicon glyphicon-info-sign'></span> Informaci贸n</button></p>
<p><strong>Icono a la derecha de un bot贸n: <strong> <button type='button' class='btn'>Actualizar <span class='glyphicon glyphicon-refresh'></span></button></p>
</div>
